In [1]:
import numpy as np
import pandas as pd

In [2]:
bar_locations = pd.read_csv("bar_locations.csv")
party_in_nyc = pd.read_csv("party_in_nyc.csv")

In [3]:
party_in_nyc.head()

,Created Date,Closed Date,Location Type,Incident Zip,City,Borough,Latitude,Longitude
0,2015-12-31 00:01:15,2015-12-31 03:48:04,Store/Commercial,10034.0,NEW YORK,MANHATTAN,40.866183,-73.918930
1,2015-12-31 00:02:48,2015-12-31 04:36:13,Store/Commercial,10040.0,NEW YORK,MANHATTAN,40.859324,-73.931237
2,2015-12-31 00:03:25,2015-12-31 00:40:15,Residential Building/House,10026.0,NEW YORK,MANHATTAN,40.799415,-73.953371
3,2015-12-31 00:03:26,2015-12-31 01:53:38,Residential Building/House,11231.0,BROOKLYN,BROOKLYN,40.678285,-73.994668
4,2015-12-31 00:05:10,2015-12-31 03:49:10,Residential Building/House,10033.0,NEW YORK,MANHATTAN,40.850304,-73.938516

In [4]:
bar_locations.head()

,Location Type,Incident Zip,City,Borough,Latitude,Longitude,num_calls
0,Club/Bar/Restaurant,10308.0,STATEN ISLAND,STATEN ISLAND,40.544096,-74.141155,40
1,Club/Bar/Restaurant,10012.0,NEW YORK,MANHATTAN,40.729793,-73.998842,18
2,Club/Bar/Restaurant,10308.0,STATEN ISLAND,STATEN ISLAND,40.544209,-74.141040,21
3,Club/Bar/Restaurant,10034.0,NEW YORK,MANHATTAN,40.866376,-73.928258,160
4,Club/Bar/Restaurant,11220.0,BROOKLYN,BROOKLYN,40.635207,-74.020285,17

In [5]:
np_bar = np.array(bar_locations)
np_bar

array([['Club/Bar/Restaurant', 10308.0, 'STATEN ISLAND', ...,
        40.544096088789225, -74.14115468967245, 40],
       ['Club/Bar/Restaurant', 10012.0, 'NEW YORK', ...,
        40.72979348359966, -73.99884181131429, 18],
       ['Club/Bar/Restaurant', 10308.0, 'STATEN ISLAND', ...,
        40.54420876737653, -74.14103979012613, 21],
       ...,
       ['Club/Bar/Restaurant', 10012.0, 'NEW YORK', ...,
        40.72985936203482, -74.00059172315336, 17],
       ['Club/Bar/Restaurant', 10304.0, 'STATEN ISLAND', ...,
        40.628744328855625, -74.07993453321991, 11],
       ['Club/Bar/Restaurant', 11423.0, 'HOLLIS', ..., 40.71169201844394,
        -73.7697090246631, 11]], dtype=object)

In [6]:
np_party = np.array(party_in_nyc)
np_party

array([['2015-12-31 00:01:15', '2015-12-31 03:48:04', 'Store/Commercial',
        ..., 'MANHATTAN', 40.86618344001468, -73.91893042945345],
       ['2015-12-31 00:02:48', '2015-12-31 04:36:13', 'Store/Commercial',
        ..., 'MANHATTAN', 40.85932419390543, -73.93123733660876],
       ['2015-12-31 00:03:25', '2015-12-31 00:40:15',
        'Residential Building/House', ..., 'MANHATTAN',
        40.79941540978025, -73.95337116858667],
       ...,
       ['2016-12-31 23:56:20', '2017-01-01 13:34:00',
        'Residential Building/House', ..., 'QUEENS', 40.74366173371021,
        -73.9230672615343],
       ['2016-12-31 23:56:41', '2017-01-01 03:49:12',
        'Residential Building/House', ..., 'MANHATTAN',
        40.85844745053305, -73.92927888866892],
       ['2016-12-31 23:58:52', '2017-01-01 00:59:52',
        'Residential Building/House', ..., 'BRONX', 40.877449669903285,
        -73.9104984611231]], dtype=object)

In [7]:
combined_data = []
latitudes = []
longitudes = []
for b in np_bar:
    for p in np_party:
        if p[-2] == b[-3] and p[-1] == b[-2]:
            if not (p[-2] in latitudes and p[-1] in longitudes):  
                s = np.hstack([b, p])
                combined_data.append(s)
                latitudes.append(p[-2])
                longitudes.append(p[-1])

In [8]:
len(np_bar)

2440

In [9]:
len(np_party)

225414

In [10]:
len(combined_data)

1581

In [127]:
combined_pd = pd.DataFrame(combined_data)

In [128]:
headr = list(bar_locations) + list(party_in_nyc)

In [129]:
headr

['Location Type',
 'Incident Zip',
 'City',
 'Borough',
 'Latitude',
 'Longitude',
 'num_calls',
 'Created Date',
 'Closed Date',
 'Location Type',
 'Incident Zip',
 'City',
 'Borough',
 'Latitude',
 'Longitude']

In [130]:
combined_pd.columns = headr

In [131]:
combined_pd

,Location Type,Incident Zip,City,Borough,Latitude,Longitude,num_calls,Created Date,Closed Date,Location Type,Incident Zip,City,Borough,Latitude,Longitude
0,Club/Bar/Restaurant,10012.0,NEW YORK,MANHATTAN,40.729793,-73.998842,18,2016-02-12 10:24:51,2016-02-12 13:06:53,Club/Bar/Restaurant,10012.0,NEW YORK,MANHATTAN,40.729793,-73.998842
1,Club/Bar/Restaurant,10308.0,STATEN ISLAND,STATEN ISLAND,40.544209,-74.141040,21,2016-06-04 20:29:04,2016-06-04 21:40:41,Club/Bar/Restaurant,10308.0,STATEN ISLAND,STATEN ISLAND,40.544209,-74.141040
2,Club/Bar/Restaurant,10029.0,NEW YORK,MANHATTAN,40.791861,-73.945392,211,2016-01-02 16:14:37,2016-01-02 16:30:58,Club/Bar/Restaurant,10029.0,NEW YORK,MANHATTAN,40.791861,-73.945392
3,Club/Bar/Restaurant,10002.0,NEW YORK,MANHATTAN,40.718795,-73.989012,41,2016-05-06 02:20:56,2016-05-06 08:00:16,Club/Bar/Restaurant,10002.0,NEW YORK,MANHATTAN,40.718795,-73.989012
4,Club/Bar/Restaurant,10034.0,NEW YORK,MANHATTAN,40.869549,-73.916348,271,2016-02-14 23:47:26,2016-02-15 01:19:21,Club/Bar/Restaurant,10034.0,NEW YORK,MANHATTAN,40.869549,-73.916348
5,Club/Bar/Restaurant,11373.0,ELMHURST,QUEENS,40.739249,-73.884457,15,2016-01-01 03:34:28,2016-01-01 05:45:40,Club/Bar/Restaurant,11373.0,ELMHURST,QUEENS,40.739249,-73.884457
6,Club/Bar/Restaurant,10128.0,NEW YORK,MANHATTAN,40.779334,-73.950670,16,2016-01-15 00:33:07,2016-01-15 06:34:36,Club/Bar/Restaurant,10128.0,NEW YORK,MANHATTAN,40.779334,-73.950670
7,Club/Bar/Restaurant,10009.0,NEW YORK,MANHATTAN,40.723494,-73.988253,1175,2016-01-01 00:38:28,2016-01-01 00:50:57,Club/Bar/Restaurant,10009.0,NEW YORK,MANHATTAN,40.723494,-73.988253
8,Club/Bar/Restaurant,10009.0,NEW YORK,MANHATTAN,40.723203,-73.988279,24,2016-04-03 02:46:49,2016-04-06 04:29:46,Club/Bar/Restaurant,10009.0,NEW YORK,MANHATTAN,40.723203,-73.988279
9,Club/Bar/Restaurant,10040.0,NEW YORK,MANHATTAN,40.864377,-73.926536,458,2016-03-21 19:19:35,2016-03-22 02:43:25,Club/Bar/Restaurant,10040.0,NEW YORK,MANHATTAN,40.864377,-73.926536
10,Club/Bar/Restaurant,11235.0,BROOKLYN,BROOKLYN,40.584130,-73.932774,58,2016-03-13 00:13:44,2016-03-13 07:38:31,Club/Bar/Restaurant,11235.0,BROOKLYN,BROOKLYN,40.584130,-73.932774
11,Club/Bar/Restaurant,11223.0,BROOKLYN,BROOKLYN,40.590136,-73.973896,38,2016-03-19 00:00:33,2016-03-19 03:49:46,Club/Bar/Restaurant,11223.0,BROOKLYN,BROOKLYN,40.590136,-73.973896
12,Club/Bar/Restaurant,11234.0,BROOKLYN,BROOKLYN,40.584884,-73.926642,45,2016-05-21 00:16:06,2016-05-21 07:04:55,Club/Bar/Restaurant,11234.0,BROOKLYN,BROOKLYN,40.584884,-73.926642
13,Club/Bar/Restaurant,11372.0,JACKSON HEIGHTS,QUEENS,40.747367,-73.886551,42,2016-01-16 03:03:48,2016-01-16 04:16:14,Store/Commercial,11372.0,JACKSON HEIGHTS,QUEENS,40.747367,-73.886551
14,Club/Bar/Restaurant,10305.0,STATEN ISLAND,STATEN ISLAND,40.590342,-74.066624,42,2016-06-01 23:15:49,2016-06-02 01:00:05,Club/Bar/Restaurant,10305.0,STATEN ISLAND,STATEN ISLAND,40.590342,-74.066624
15,Club/Bar/Restaurant,11211.0,BROOKLYN,BROOKLYN,40.713778,-73.957468,42,2016-05-21 17:25:01,2016-05-22 06:00:10,Club/Bar/Restaurant,11211.0,BROOKLYN,BROOKLYN,40.713778,-73.957468
16,Club/Bar/Restaurant,10033.0,NEW YORK,MANHATTAN,40.847111,-73.938182,127,2016-01-02 22:31:34,2016-01-03 03:07:24,Club/Bar/Restaurant,10033.0,NEW YORK,MANHATTAN,40.847111,-73.938182
17,Club/Bar/Restaurant,10036.0,NEW YORK,MANHATTAN,40.760814,-73.987189,19,2016-04-02 00:34:57,2016-04-02 01:45:49,Store/Commercial,10036.0,NEW YORK,MANHATTAN,40.760814,-73.987189
18,Club/Bar/Restaurant,10464.0,BRONX,BRONX,40.851142,-73.788467,57,2016-03-09 22:09:49,2016-03-09 23:26:42,Club/Bar/Restaurant,10464.0,BRONX,BRONX,40.851142,-73.788467
19,Club/Bar/Restaurant,10036.0,NEW YORK,MANHATTAN,40.761262,-73.994271,43,2016-07-31 23:31:09,2016-07-31 23:41:52,Club/Bar/Restaurant,10036.0,NEW YORK,MANHATTAN,40.761262,-73.994271
20,Club/Bar/Restaurant,11103.0,ASTORIA,QUEENS,40.763736,-73.914647,31,2016-03-27 22:50:55,2016-03-27 23:24:49,Club/Bar/Restaurant,11103.0,ASTORIA,QUEENS,40.763736,-73.914647
21,Club/Bar/Restaurant,10469.0,BRONX,BRONX,40.875755,-73.850866,21,2016-07-16 17:38:09,2016-07-17 01:49:22,Club/Bar/Restaurant,10469.0,BRONX,BRONX,40.875755,-73.850866
22,Club/Bar/Restaurant,11362.0,LITTLE NECK,QUEENS,40.770902,-73.735289,85,2016-01-02 23:31:56,2016-01-03 01:22:27,Store/Commercial,11362.0,LITTLE NECK,QUEENS,40.770902,-73.735289
23,Club/Bar/Restaurant,11238.0,BROOKLYN,BROOKLYN,40.682720,-73.963292,231,2016-01-17 18:35:06,2016-01-17 19:15:06,Club/Bar/Restaurant,11238.0,BROOKLYN,BROOKLYN,40.682720,-73.963292
24,Club/Bar/Restaurant,11418.0,RICHMOND HILL,QUEENS,40.699578,-73.832359,79,2016-08-14 01:51:40,2016-08-14 19:12:56,Club/Bar/Restaurant,11418.0,RICHMOND HILL,QUEENS,40.699578,-73.832359
25,Club/Bar/Restaurant,11214.0,BROOKLYN,BROOKLYN,40.599581,-73.989960,62,2016-01-18 01:11:44,2016-01-18 01:56:20,Store/Commercial,11214.0,BROOKLYN,BROOKLYN,40.599581,-73.989960
26,Club/Bar/Restaurant,10016.0,NEW YORK,MANHATTAN,40.747520,-73.982402,40,2016-05-19 22:42:10,2016-05-19 23:15:56,Club/Bar/Restaurant,10016.0,NEW YORK,MANHATTAN,40.747520,-73.982402
27,Club/Bar/Restaurant,11218.0,BROOKLYN,BROOKLYN,40.635591,-73.977741,37,2016-01-15 22:47:38,2016-01-15 23:12:18,Club/Bar/Restaurant,11218.0,BROOKLYN,BROOKLYN,40.635591,-73.977741
28,Club/Bar/Restaurant,10016.0,NEW YORK,MANHATTAN,40.748607,-73.978104,70,2016-05-19 23:26:11,2016-05-20 00:28:06,Club/Bar/Restaurant,10016.0,NEW YORK,MANHATTAN,40.748607,-73.978104
29,Club/Bar/Restaurant,11238.0,BROOKLYN,BROOKLYN,40.681423,-73.957102,302,2016-01-03 00:44:50,2016-01-03 04:19:47,Club/Bar/Restaurant,11238.0,BROOKLYN,BROOKLYN,40.681423,-73.957102
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1551,Club/Bar/Restaurant,11226.0,BROOKLYN,BROOKLYN,40.641258,-73.964306,23,2016-08-17 19:09:27,2016-08-17 19:41:41,Street/Sidewalk,11226.0,BROOKLYN,BROOKLYN,40.641258,-73.964306
1552,Club/Bar/Restaurant,10009.0,NEW YORK,MANHATTAN,40.728299,-73.981884,26,2016-09-27 23:27:04,2016-09-28 01:36:46,Street/Sidewalk,10009.0,NEW YORK,MANHATTAN,40.728299,-73.981884
1553,Club/Bar/Restaurant,10014.0,NEW YORK,MANHATTAN,40.739375,-74.008051,13,2016-02-02 16:59:05,2016-02-03 01:59:20,Street/Sidewalk,10014.0,NEW YORK,MANHATTAN,40.739375,-74.008051
1554,Club/Bar/Restaurant,11368.0,CORONA,QUEENS,40.750502,-73.862039,31,2016-09-25 22:26:09,2016-09-25 22:36:01,Residential Building/House,11368.0,CORONA,QUEENS,40.750502,-73.862039
1555,Club/Bar/Restaurant,10002.0,NEW YORK,MANHATTAN,40.719797,-73.988510,31,2016-06-12 00:19:54,2016-06-12 00:26:31,Store/Commercial,10002.0,NEW YORK,MANHATTAN,40.719797,-73.988510
1556,Club/Bar/Restaurant,11234.0,BROOKLYN,BROOKLYN,40.624692,-73.927495,30,2016-07-15 13:40:14,2016-07-15 18:04:18,Street/Sidewalk,11234.0,BROOKLYN,BROOKLYN,40.624692,-73.927495
1557,Club/Bar/Restaurant,10031.0,NEW YORK,MANHATTAN,40.824705,-73.951720,29,2016-07-08 01:53:30,2016-07-08 08:05:25,Residential Building/House,10031.0,NEW YORK,MANHATTAN,40.824705,-73.951720
1558,Club/Bar/Restaurant,10002.0,NEW YORK,MANHATTAN,40.718388,-73.982771,128,2016-09-24 22:24:21,2016-09-24 22:36:22,Residential Building/House,10002.0,NEW YORK,MANHATTAN,40.718388,-73.982771
1559,Club/Bar/Restaurant,10033.0,NEW YORK,MANHATTAN,40.848978,-73.932936,17,2016-01-05 15:33:48,2016-01-05 22:49:54,Store/Commercial,10033.0,NEW YORK,MANHATTAN,40.848978,-73.932936
1560,Club/Bar/Restaurant,10026.0,NEW YORK,MANHATTAN,40.800159,-73.946840,37,2016-07-21 23:19:03,2016-07-22 03:32:13,Street/Sidewalk,10026.0,NEW YORK,MANHATTAN,40.800159,-73.946840
1561,Club/Bar/Restaurant,10002.0,NEW YORK,MANHATTAN,40.721012,-73.987078,11,2016-02-02 22:58:28,2016-02-03 01:13:14,Street/Sidewalk,10002.0,NEW YORK,MANHATTAN,40.721012,-73.987078
1562,Club/Bar/Restaurant,10022.0,NEW YORK,MANHATTAN,40.757379,-73.968604,18,2016-10-29 23:37:59,2016-10-30 00:52:09,Residential Building/House,10022.0,NEW YORK,MANHATTAN,40.757379,-73.968604
1563,Club/Bar/Restaurant,10012.0,NEW YORK,MANHATTAN,40.725772,-74.002933,15,2016-10-15 02:54:18,2016-10-15 07:26:33,Residential Building/House,10012.0,NEW YORK,MANHATTAN,40.725772,-74.002933
1564,Club/Bar/Restaurant,11221.0,BROOKLYN,BROOKLYN,40.693608,-73.931863,16,2016-05-07 21:53:27,2016-05-07 23:30:35,Street/Sidewalk,11221.0,BROOKLYN,BROOKLYN,40.693608,-73.931863
1565,Club/Bar/Restaurant,10003.0,NEW YORK,MANHATTAN,40.724682,-73.990533,19,2016-05-18 21:48:29,2016-05-18 22:32:18,Store/Commercial,10003.0,NEW YORK,MANHATTAN,40.724682,-73.990533
1566,Club/Bar/Restaurant,10009.0,NEW YORK,MANHATTAN,40.734387,-73.980205,11,2016-05-07 01:37:57,2016-05-07 02:17:26,Residential Building/House,10009.0,NEW YORK,MANHATTAN,40.734387,-73.980205
1567,Club/Bar/Restaurant,11224.0,BROOKLYN,BROOKLYN,40.576716,-73.984024,14,2016-05-29 01:22:53,2016-05-29 08:53:43,Residential Building/House,11224.0,BROOKLYN,BROOKLYN,40.576716,-73.984024
1568,Club/Bar/Restaurant,10011.0,NEW YORK,MANHATTAN,40.741780,-73.997348,34,2016-04-03 01:52:00,2016-04-03 03:43:05,Street/Sidewalk,10011.0,NEW YORK,MANHATTAN,40.741780,-73.997348
1569,Club/Bar/Restaurant,11235.0,BROOKLYN,BROOKLYN,40.586568,-73.929106,17,2016-07-16 17:33:15,2016-07-16 22:02:53,Residential Building/House,11235.0,BROOKLYN,BROOKLYN,40.586568,-73.929106
1570,Club/Bar/Restaurant,10471.0,BRONX,BRONX,40.910201,-73.896605,10,2016-08-02 01:07:25,2016-08-02 02:40:54,Street/Sidewalk,10471.0,BRONX,BRONX,40.910201,-73.896605
1571,Club/Bar/Restaurant,10455.0,BRONX,BRONX,40.812476,-73.902909,15,2016-03-12 01:10:39,2016-03-12 09:39:42,Residential Building/House,10455.0,BRONX,BRONX,40.812476,-73.902909
1572,Club/Bar/Restaurant,10465.0,BRONX,BRONX,40.818825,-73.817115,17,2016-10-17 00:25:05,2016-10-17 03:08:21,Store/Commercial,10465.0,BRONX,BRONX,40.818825,-73.817115
1573,Club/Bar/Restaurant,10462.0,BRONX,BRONX,40.831970,-73.847882,11,2016-09-08 21:18:41,2016-09-09 05:05:56,Store/Commercial,10462.0,BRONX,BRONX,40.831970,-73.847882
1574,Club/Bar/Restaurant,10009.0,NEW YORK,MANHATTAN,40.728909,-73.984320,18,2016-02-28 02:29:30,2016-02-28 04:54:12,Residential Building/House,10009.0,NEW YORK,MANHATTAN,40.728909,-73.984320
1575,Club/Bar/Restaurant,11226.0,BROOKLYN,BROOKLYN,40.644402,-73.951807,89,2016-03-19 21:30:46,2016-03-19 22:12:54,Residential Building/House,11226.0,BROOKLYN,BROOKLYN,40.644402,-73.951807
1576,Club/Bar/Restaurant,10459.0,BRONX,BRONX,40.828697,-73.890152,18,2016-10-07 15:13:22,2016-10-07 21:47:40,Residential Building/House,10459.0,BRONX,BRONX,40.828697,-73.890152
1577,Club/Bar/Restaurant,10002.0,NEW YORK,MANHATTAN,40.715238,-73.991729,11,2016-04-03 00:15:11,2016-04-03 00:55:20,Street/Sidewalk,10002.0,NEW YORK,MANHATTAN,40.715238,-73.991729
1578,Club/Bar/Restaurant,10025.0,NEW YORK,MANHATTAN,40.800142,-73.968075,22,2016-04-12 21:35:24,2016-04-12 22:17:56,Street/Sidewalk,10025.0,NEW YORK,MANHATTAN,40.800142,-73.968075
1579,Club/Bar/Restaurant,10032.0,NEW YORK,MANHATTAN,40.833675,-73.941429,14,2016-12-12 01:50:38,2016-12-12 05:55:28,Residential Building/House,10032.0,NEW YORK,MANHATTAN,40.833675,-73.941429
1580,Club/Bar/Restaurant,10012.0,NEW YORK,MANHATTAN,40.729859,-74.000592,17,2016-03-06 00:45:37,2016-03-06 02:07:51,Store/Commercial,10012.0,NEW YORK,MANHATTAN,40.729859,-74.000592

In [132]:
combined_pd.to_csv("combined_data.csv")

In [133]:
len(combined_pd)

1581

In [134]:
combined_pd = np.array(combined_pd)

In [135]:
combined_pd = combined_pd[:, 0:9]

In [136]:
combined_pd[0]

array(['Club/Bar/Restaurant', 10012.0, 'NEW YORK', 'MANHATTAN',
       40.72979348359966, -73.99884181131429, 18, '2016-02-12 10:24:51',
       '2016-02-12 13:06:53'], dtype=object)

In [137]:
np_combined = combined_pd

In [138]:
combined_pd = pd.DataFrame(np_combined);

In [139]:
max_latitude = np_combined[:,4].max()
max_latitude

40.910201355326016

In [140]:
max_longitude = np_combined[:,5].max()
max_longitude

-73.70921875550243

In [141]:
min_latitude = np_combined[:,4].min()
min_latitude

40.51362973928262

In [142]:
min_longitude = np_combined[:,5].min()
min_longitude

-74.25127710072611

In [143]:
map_min_latitude = 40.499275

In [144]:
map_max_longitude = -73.465838

In [145]:
map_max_latitude = 40.915618

In [146]:
map_min_longitude = -74.463894

In [147]:
normalized_latitudes = (np_combined[:,4] - map_min_latitude) / (map_max_latitude - map_min_latitude)

In [148]:
normalized_longitudes = (np_combined[:,5] - map_min_longitude) / (map_max_longitude - map_min_longitude)
normalized_longitudes

array([0.46595801105920676, 0.3234830609443458, 0.5195123415513266, ...,
       0.49678513613058145, 0.523482469594583, 0.4642046907654855],
      dtype=object)

In [149]:
np_combined[:,4] = normalized_latitudes
np_combined[:,5] = normalized_longitudes

In [150]:
np_combined[0]

array(['Club/Bar/Restaurant', 10012.0, 'NEW YORK', 'MANHATTAN',
       0.5536744549557869, 0.46595801105920676, 18, '2016-02-12 10:24:51',
       '2016-02-12 13:06:53'], dtype=object)

In [151]:
calls_min = np_combined[:, 6].min()
calls_min

10

In [152]:
calls_max = np_combined[:, 6].max()
calls_max

1513

In [153]:
np_combined[:, 6] = (np_combined[:, 6] - calls_min) / (calls_max - calls_min)

In [154]:
np_combined[0]

array(['Club/Bar/Restaurant', 10012.0, 'NEW YORK', 'MANHATTAN',
       0.5536744549557869, 0.46595801105920676, 0.0053226879574184965,
       '2016-02-12 10:24:51', '2016-02-12 13:06:53'], dtype=object)

In [155]:
np_combined[:, 6] = np_combined[:, 6] * 10

In [156]:
np_combined[0]

array(['Club/Bar/Restaurant', 10012.0, 'NEW YORK', 'MANHATTAN',
       0.5536744549557869, 0.46595801105920676, 0.05322687957418497,
       '2016-02-12 10:24:51', '2016-02-12 13:06:53'], dtype=object)

In [157]:
pd_combined = pd.DataFrame(np_combined);

In [158]:
pd_combined.describe()

,0,1,2,3,4,5,6,7,8
count,1581,1581.0,1581,1581,1581.000000,1581.000000,1581.0,1581,1581
unique,1,150.0,35,5,1581.000000,1581.000000,173.0,1581,1579
top,Club/Bar/Restaurant,10009.0,NEW YORK,MANHATTAN,0.422484,0.479939,0.0,2016-04-10 00:08:44,2016-01-01 23:29:21
freq,1581,76.0,732,732,1.000000,1.000000,97.0,1,2

In [159]:
np_combined[:, 6].min()

0.0

In [160]:
pd_combined.to_csv("combined_data.csv")

In [161]:
from datetime import datetime
date_posted = '2014-01-15 35:30:31'
d = datetime.strptime('2016-04-10 00:08:44', '%Y-%m-%d %H:%M:%S')

In [162]:
epoch = datetime(1970,1,1)
t = (d - epoch).total_seconds()

In [163]:
t

1460246924.0

In [164]:
isoToUtc = lambda date, _: (datetime.strptime(date, '%Y-%m-%d %H:%M:%S') - datetime(1970,1,1)).total_seconds()

In [165]:
np_isoToUtc = np.vectorize(isoToUtc);

In [166]:
np_combined[:, 7] = np_isoToUtc(np_combined[:, 7], -1)

In [167]:
np_combined[:, 8] = np_isoToUtc(np_combined[:, 8], -1)

In [168]:
np_combined

array([['Club/Bar/Restaurant', 10012.0, 'NEW YORK', ...,
        0.05322687957418497, 1455272691.0, 1455282413.0],
       ['Club/Bar/Restaurant', 10308.0, 'STATEN ISLAND', ...,
        0.07318695941450433, 1465072144.0, 1465076441.0],
       ['Club/Bar/Restaurant', 10029.0, 'NEW YORK', ...,
        1.3373253493013972, 1451751277.0, 1451752258.0],
       ...,
       ['Club/Bar/Restaurant', 10025.0, 'NEW YORK', ...,
        0.07984031936127745, 1460496924.0, 1460499476.0],
       ['Club/Bar/Restaurant', 10032.0, 'NEW YORK', ...,
        0.026613439787092484, 1481507438.0, 1481522128.0],
       ['Club/Bar/Restaurant', 10012.0, 'NEW YORK', ...,
        0.04657351962741184, 1457225137.0, 1457230071.0]], dtype=object)

In [169]:
start_min = np_combined[:, 7].min()
start_min

1451520075.0

In [170]:
start_max = np_combined[:, 7].max()
start_max

1482951534.0

In [171]:
end_min = np_combined[:, 8].min()
end_min

1451521777.0

In [172]:
end_max = np_combined[:, 8].max()
end_max

1483223874.0

In [173]:
np_combined[:, 7] = (np_combined[:, 7] - start_min)

In [174]:
np_combined[:, 8] = (np_combined[:, 8] - end_min)

In [175]:
np_combined

array([['Club/Bar/Restaurant', 10012.0, 'NEW YORK', ...,
        0.05322687957418497, 3752616.0, 3760636.0],
       ['Club/Bar/Restaurant', 10308.0, 'STATEN ISLAND', ...,
        0.07318695941450433, 13552069.0, 13554664.0],
       ['Club/Bar/Restaurant', 10029.0, 'NEW YORK', ...,
        1.3373253493013972, 231202.0, 230481.0],
       ...,
       ['Club/Bar/Restaurant', 10025.0, 'NEW YORK', ...,
        0.07984031936127745, 8976849.0, 8977699.0],
       ['Club/Bar/Restaurant', 10032.0, 'NEW YORK', ...,
        0.026613439787092484, 29987363.0, 30000351.0],
       ['Club/Bar/Restaurant', 10012.0, 'NEW YORK', ...,
        0.04657351962741184, 5705062.0, 5708294.0]], dtype=object)

In [178]:
pd_combined = pd.DataFrame(np_combined)

In [184]:
pd_combined.columns = ['location_type',
 'incident_zip',
 'city',
 'borough',
 'latitude',
 'longitude',
 'num_calls',
 'created',
 'closed']

ValueError: Length mismatch: Expected axis has 9 elements, new values have 10 elements

In [182]:
pd_combined

,location_type,incident_zip,city,borough,latitude,longitude,num_calls,created,closed
0,Club/Bar/Restaurant,10012,NEW YORK,MANHATTAN,0.553674,0.465958,0.0532269,3.75262e+06,3.76064e+06
1,Club/Bar/Restaurant,10308,STATEN ISLAND,STATEN ISLAND,0.107925,0.323483,0.073187,1.35521e+07,1.35547e+07
2,Club/Bar/Restaurant,10029,NEW YORK,MANHATTAN,0.702753,0.519512,1.33733,231202,230481
3,Club/Bar/Restaurant,10002,NEW YORK,MANHATTAN,0.527257,0.475807,0.206254,1.09812e+07,1.09998e+07
4,Club/Bar/Restaurant,10034,NEW YORK,MANHATTAN,0.889349,0.548612,1.73653,3.97357e+06,3.97738e+06
5,Club/Bar/Restaurant,11373,ELMHURST,QUEENS,0.576385,0.580566,0.0332668,99193,105363
6,Club/Bar/Restaurant,10128,NEW YORK,MANHATTAN,0.672664,0.514224,0.0399202,1.29791e+06,1.3179e+06
7,Club/Bar/Restaurant,10009,NEW YORK,MANHATTAN,0.538543,0.476567,7.75116,88633,87680
8,Club/Bar/Restaurant,10009,NEW YORK,MANHATTAN,0.537844,0.476542,0.093147,8.13153e+06,8.39521e+06
9,Club/Bar/Restaurant,10040,NEW YORK,MANHATTAN,0.876926,0.538405,2.98071,7.0679e+06,7.09283e+06
10,Club/Bar/Restaurant,11235,BROOKLYN,BROOKLYN,0.203811,0.532155,0.319361,6.30795e+06,6.33293e+06
11,Club/Bar/Restaurant,11223,BROOKLYN,BROOKLYN,0.218236,0.490952,0.186294,6.82556e+06,6.83761e+06
12,Club/Bar/Restaurant,11234,BROOKLYN,BROOKLYN,0.205622,0.538299,0.232868,1.22697e+07,1.22925e+07
13,Club/Bar/Restaurant,11372,JACKSON HEIGHTS,QUEENS,0.595884,0.578468,0.212908,1.39335e+06,1.396e+06
14,Club/Bar/Restaurant,10305,STATEN ISLAND,STATEN ISLAND,0.218731,0.398044,0.212908,1.33029e+07,1.33074e+07
15,Club/Bar/Restaurant,11211,BROOKLYN,BROOKLYN,0.515208,0.507413,0.212908,1.23314e+07,1.2375e+07
16,Club/Bar/Restaurant,10033,NEW YORK,MANHATTAN,0.835456,0.526736,0.778443,253819,268667
17,Club/Bar/Restaurant,10036,NEW YORK,MANHATTAN,0.628181,0.477634,0.0598802,8.03722e+06,8.03977e+06
18,Club/Bar/Restaurant,10464,BRONX,BRONX,0.845137,0.676743,0.312708,6.04131e+06,6.04422e+06
19,Club/Bar/Restaurant,10036,NEW YORK,MANHATTAN,0.629257,0.470537,0.219561,1.84878e+07,1.84867e+07
20,Club/Bar/Restaurant,11103,ASTORIA,QUEENS,0.635201,0.550316,0.139721,7.59898e+06,7.59931e+06
21,Club/Bar/Restaurant,10469,BRONX,BRONX,0.904254,0.614222,0.073187,1.71706e+07,1.71984e+07
22,Club/Bar/Restaurant,11362,LITTLE NECK,QUEENS,0.652412,0.730024,0.499002,257441,262370
23,Club/Bar/Restaurant,11238,BROOKLYN,BROOKLYN,0.440611,0.501577,1.47039,1.53563e+06,1.53633e+06
24,Club/Bar/Restaurant,11418,RICHMOND HILL,QUEENS,0.481101,0.632765,0.459082,1.96194e+07,1.96802e+07
25,Club/Bar/Restaurant,11214,BROOKLYN,BROOKLYN,0.240921,0.474857,0.345975,1.55943e+06,1.5604e+06
26,Club/Bar/Restaurant,10016,NEW YORK,MANHATTAN,0.596252,0.482429,0.199601,1.21777e+07,1.2178e+07
27,Club/Bar/Restaurant,11218,BROOKLYN,BROOKLYN,0.327412,0.4871,0.179641,1.37798e+06,1.37776e+06
28,Club/Bar/Restaurant,10016,NEW YORK,MANHATTAN,0.598861,0.486737,0.399202,1.21803e+07,1.21823e+07
29,Club/Bar/Restaurant,11238,BROOKLYN,BROOKLYN,0.437494,0.507779,1.94278,261815,273010
...,...,...,...,...,...,...,...,...,...
1551,Club/Bar/Restaurant,11226,BROOKLYN,BROOKLYN,0.341024,0.500561,0.0864937,1.99409e+07,1.99411e+07
1552,Club/Bar/Restaurant,10009,NEW YORK,MANHATTAN,0.550085,0.482949,0.106454,2.34987e+07,2.35048e+07
1553,Club/Bar/Restaurant,10014,NEW YORK,MANHATTAN,0.576688,0.456731,0.0199601,2.91227e+06,2.94298e+06
1554,Club/Bar/Restaurant,11368,CORONA,QUEENS,0.603414,0.603027,0.139721,2.33223e+07,2.33212e+07
1555,Club/Bar/Restaurant,10002,NEW YORK,MANHATTAN,0.529663,0.47631,0.139721,1.41707e+07,1.41694e+07
1556,Club/Bar/Restaurant,11234,BROOKLYN,BROOKLYN,0.301236,0.537444,0.133067,1.70699e+07,1.70841e+07
1557,Club/Bar/Restaurant,10031,NEW YORK,MANHATTAN,0.781638,0.513171,0.126414,1.64227e+07,1.64433e+07
1558,Club/Bar/Restaurant,10002,NEW YORK,MANHATTAN,0.526279,0.48206,0.785096,2.32358e+07,2.32348e+07
1559,Club/Bar/Restaurant,10033,NEW YORK,MANHATTAN,0.839939,0.531992,0.0465735,487953,512417
1560,Club/Bar/Restaurant,10026,NEW YORK,MANHATTAN,0.722683,0.518061,0.179641,1.76231e+07,1.76366e+07
1561,Club/Bar/Restaurant,10002,NEW YORK,MANHATTAN,0.532583,0.477745,0.00665336,2.93383e+06,2.94022e+06
1562,Club/Bar/Restaurant,10022,NEW YORK,MANHATTAN,0.619932,0.496255,0.0532269,2.62642e+07,2.6267e+07
1563,Club/Bar/Restaurant,10012,NEW YORK,MANHATTAN,0.544016,0.461859,0.0332668,2.498e+07,2.49946e+07
1564,Club/Bar/Restaurant,11221,BROOKLYN,BROOKLYN,0.466763,0.533068,0.0399202,1.11379e+07,1.11421e+07
1565,Club/Bar/Restaurant,10003,NEW YORK,MANHATTAN,0.541398,0.474283,0.0598802,1.2088e+07,1.2089e+07
1566,Club/Bar/Restaurant,10009,NEW YORK,MANHATTAN,0.564706,0.484631,0.00665336,1.1065e+07,1.10657e+07
1567,Club/Bar/Restaurant,11224,BROOKLYN,BROOKLYN,0.186003,0.480805,0.0266134,1.29649e+07,1.29902e+07
1568,Club/Bar/Restaurant,10011,NEW YORK,MANHATTAN,0.582464,0.467455,0.159681,8.12824e+06,8.13321e+06
1569,Club/Bar/Restaurant,11235,BROOKLYN,BROOKLYN,0.209667,0.53583,0.0465735,1.71703e+07,1.71848e+07
1570,Club/Bar/Restaurant,10471,BRONX,BRONX,0.98699,0.568394,0,1.858e+07,1.85839e+07
1571,Club/Bar/Restaurant,10455,BRONX,BRONX,0.752267,0.562078,0.0332668,6.22496e+06,6.25380e+06
1572,Club/Bar/Restaurant,10465,BRONX,BRONX,0.767516,0.648038,0.0465735,2.51438e+07,2.51519e+07
1573,Club/Bar/Restaurant,10462,BRONX,BRONX,0.799089,0.617212,0.00665336,2.18494e+07,2.18758e+07
1574,Club/Bar/Restaurant,10009,NEW YORK,MANHATTAN,0.551549,0.480509,0.0532269,5.1065e+06,5.11348e+06
1575,Club/Bar/Restaurant,11226,BROOKLYN,BROOKLYN,0.348575,0.513084,0.525615,6.90297e+06,6.9038e+06
1576,Club/Bar/Restaurant,10459,BRONX,BRONX,0.791228,0.57486,0.0532269,2.43331e+07,2.43551e+07
1577,Club/Bar/Restaurant,10002,NEW YORK,MANHATTAN,0.518714,0.473085,0.00665336,8.12244e+06,8.12314e+06
1578,Club/Bar/Restaurant,10025,NEW YORK,MANHATTAN,0.722643,0.496785,0.0798403,8.97685e+06,8.9777e+06
1579,Club/Bar/Restaurant,10032,NEW YORK,MANHATTAN,0.803184,0.523482,0.0266134,2.99874e+07,3.00004e+07
1580,Club/Bar/Restaurant,10012,NEW YORK,MANHATTAN,0.553833,0.464205,0.0465735,5.70506e+06,5.70829e+06

In [183]:
pd_combined.to_csv("combined_data.csv")